<mat-toolbar>
  <span class="chatae" style="color: rgb(255, 0, 153); font-size: 22px; font-weight: 500; margin-left:45%" routerLink="" >Chatae</span>
  <span class="header-spacer"></span>
  <ng-container *ngIf="user$ | async as user  "> 
    <!-- else authButtons -->
    <!-- <img src="../../../../assets/Screenshot 2022-05-26 203056.png" 
    mat-card-avatar
    alt="avatar">  -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item color="basic" routerLink="/profile">Profile
      

      </button>
    </mat-menu>
    <img class="profile-img-toolbar" height="30px" width="30px" [src]="user.photoURL ?? 'assets/5879.jpg'">
    <span class="log" style="color: rgb(255, 0, 144);">
      {{ user?.displayName }}</span>
    <button mat-raised-button color="accent" style="margin-left: 5px;" (click)="signOut()">Sign Out 
      

    </button>
  </ng-container>
</mat-toolbar>

<mat-card style="display:none;"></mat-card>
<div class="main">
  <header></header>
  <div class="main__body">
    <router-outlet></router-outlet>
  </div>
</div>