<!-- <section class="chat">
    <div class="chat_header" *ngIf="selectedChat$ | async as selectedChat">
        <img [src]="selectedChat.chatPic ? selectedChat.chatPic : 'assets/5879.jpg'" alt="">
                <div class="chat_header_room--name">
            <h4>{{'ROOM NAME'}}</h4> 
        </div>
    </div>
    <div class="chat_body">
        <!-- <router-outlet></router-outlet> -->
       
    <!-- </div>
    <div class="chat_footer">
        <button mat-icon-button>
            <mat-icon>mood</mat-icon>
        </button>

        <form #form="ngForm">
            <input type="text"
            name="message"
            ngModel
            placeholder="Type a message"
            class="chat_footer_send_message">
            <button type="submit" style="display: none;"></button>
        </form>

        <button mat-icon-button>
            <mat-icon>mic</mat-icon>
        </button>
    </div>
</section>  -->

<!-- <div class="messages mat-elevation-z5">
    <div class="messages-header" *ngIf="selectedChat$ | async as selectedChat">
        <img [src]="selectedChat.chatPic ? selectedChat.chatPic : 'assets/5879.jpg'" alt="">
    </div>
</div>  -->



<!-- <div class="messages mat-elevation-z5">
    <div class="messages-header" *ngIf="selectedChat$ | async as selectedChat">
        <img [src]="selectedChat.chatPic ? selectedChat.chatPic : 'assets/5879.jpg'" alt="">
    </div>
</div> -->
